*,
*::before,
*::after {
  box-sizing: border-box;
}
button {
	display: block;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #f5f5f5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.container {
	width: 95% !important;
	margin: 0 auto;
}

.main-color {
	color: #475f7b;
}

.bg-white {
	background-color: #fff;
	border-radius: 14px;
} 


/*first section-----------------------*/

.main-btn {
	height: 40px;
	border: 1px solid #5a8dee;
	border-radius: 5px;
	text-align: center;
}

i, p, a {
	color: #475f7b !important;
}

.header__wrap {
	height: 70px;
	background-color: #fff;
}

.header__nav {
	width: 18%;
	margin: 0 1.375rem 0 auto;
}

.header__icon-search {
	width: 33%;
}

.header__notifications {
	width: 33%;
	cursor: pointer;
}

.fa-bell {
	font-size: 1.4em;
    padding: 0.4em .35em 0 0rem;
}

.header__search {

}

.header__notifications {

}

.notification__amount {
	top: 0;
	right: 1.45rem;
	padding: 2px 8px;
	border-radius: 50%;
	border: none;
	background-color: #ff5b5c;
	color: #fff;
    display: table;
    font-size: .75em;
}

.header__logout {
	min-width: 100px;
	color: #0b096d;
  	font-family: "Lato-Semibold";
  	font-size: 13px;
  	font-weight: 400;
  	line-height: 17px;
}

/*----------------------*/
/*-----------------------*/

.sidebar {
    border-right: 1px solid #c7cfd6;
    width: 235px;
}

.sidebar i {
	padding-right: .6rem;
}

.sidebar__container {
	width: 80%;
    margin: 0 auto;
}

.sidebar__item-active {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ff3c6b;
	margin: 0 0 0 auto;
}

.sidebar__block-first {

}

.sidebar__logo {
	
}

.sidebar__img-logo {
	margin-top: 15px;
}

.sidebar__dashboard {
	padding: 35px 0 20px;
	border-bottom: 1px solid #c7cfd6;
}

.sidebar__dashboard a {
	
}

.sidebar__activity {
	margin-top: 30px;
}

ul li a {
  font-family: "Avenir-Medium";
  font-size: 15px;
  font-weight: 400;
}

.sidebar__item {
	margin: 25px 0;
}

.sidebar__block-second {
	margin-top: 40px;
}

.sidebar__block-second .sidebar__item a {
	padding-left: 30px;
}

.sidebar__item a {
	width: 100%;
}

.amount {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: #ffdede;
    color: #ff5b5c;
}
/*-----------------*/
/*-----------------*/

.board {
	width: 100%;
    margin: 0 0 0 auto;
    background-color: #f5f5f5;
}

.board__wrapp {
	padding-bottom: .75rem;
}

.board__title {
	margin: 1.375rem 0 .95rem .7rem;
	color: #475f7b;
  font-family: "Avenir-Medium";
  font-size: 31px;
  font-weight: 400;
  line-height: 41px;
}

.board-small {
	width: 17%;
}

.bg {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin: 15px auto 10px;
}

.transfer__bg {
	background-color: #d2ffe8;
}

.transfer__bg i {
	font-size: 1em;
    transform: rotate(90deg);
}

.fa-exchange-alt {
	font-size: 1em;
}

.donation__bg {
	background-color: #ffdede;
}

.board__wrap {
	width: 80%;
	margin: 0 auto;
}

.fa-heart {
	color: #ff5b5c !important;
}
.transfer__amount {
	padding: 5px 0 10px;
	border-bottom: 1px solid #D8D8D8;
}
/*---------------*/

.profit__wrap {
	margin: 20px 0;
}

.profit__title {
	color: #828d99;
  font-family: "Avenir-Medium";
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}

.profit__amount {
	margin-bottom: 20px;
	color: #475f7b;
  font-family: "Avenir-Heavy";
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  word-spacing: -1rem;
}

.profit__btn {
	width: 74px;
	margin: 0 auto;
	color: #5a8dee;
  font-family: "Avenir-Medium";
  font-size: 9px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1425px;
}

/*---------------*/

.burger {
	cursor: pointer;
}

.burger i {
	font-size: 1.2em;
	color: #8ca0b3;
}

.board-medium {
	width: 29%;
}
	
.board-medium__title {
	padding: 1.125rem 0 1rem 1.6rem;
    color: #000a12;
    font-family: Oxygen;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    border-bottom: 1px solid #D8D8D8;
}

.field__burger {
	right: 0;
    top: .91rem;
}

.board-medium__wrap {
	margin: 1.25rem auto;
	width: 80%;
}

.board-medium__circle {
	border: 8px solid #2fa2f4;
    border-radius: 50%;
    width: 166px;
    height: 166px;	
}

.board-medium__circle-title {
  color: #000a12;
  font-family: "Lato-Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.board-medium__circle-text {
	color: #000a12;
	font-family: "Lato-Semibold";
	font-size: 32px;
	font-weight: 400;
	line-height: 43px;
}


.board-medium__data {

}

.data__text {
	color: #000a12;
  	font-family: Oxygen;
  	font-size: 18px;
  	font-weight: 400;
  	line-height: 27px;
}

.data__user {
	margin-bottom: 1.25rem;
 	
}

.data__user::before {
	content: '';
    position: absolute;
    display: block;
    top: .7rem;
    left: -1.7rem;
    width: 12px;
    height: 12px;
    background: #2fa2f4;
}

.data__visitor::before {
	content: '';
	display: block;
	position: absolute;
	top: .7rem;
	left: -1.7rem;
	width: 12px;
	height: 12px;
	background: #faa05a;
}

/*--------  trafic --------*/

.traffic__burger, .productivity__burger {
	top: 1.5rem;
	right: 1.125rem;
}

.data__safe::before {
content: '';
	display: block;
	position: absolute;
	top: .7rem;
	left: -1.7rem;
	width: 12px;
	height: 12px;
	background: #2fa2f4;
}

.data__low-risk::before {
content: '';
	display: block;
	position: absolute;
	top: .7rem;
	left: -1.7rem;
	width: 12px;
	height: 12px;
	background: #faa05a;
}

.data__risk::before {
content: '';
	display: block;
	position: absolute;
	top: .7rem;
	left: -1.7rem;
	width: 12px;
	height: 12px;
	background: #f7652b;
}

/*---------------- activity ----*/
/*------------------------------*/

.activity {
	background-color: #f5f5f5;

}

.activity__wrap {
	    width: 98%;
    margin: 0 auto;
}

/*---------- activ  ---------*/

.activity__activ {
width: 68.4%;
border-radius: 14px;
  background-color: #fff;
}

.activ__wrap {

}

.activ__title-wrap {
	height: 50px;
	width: 95%;
    margin: 0 auto;
}

.activ__title {
color: #475f7b;
  font-family: "Avenir-Medium";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.activ__view {
	margin-right: 30px;
}

.activ__btn {
	margin: 0 1rem 0 1.5rem;
  width: 74px;
  height: 25px;
  color: #5a8dee;
  font-family: "Avenir-Medium";
  font-size: 9px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .1425px;
}

.activ__burger {
top: .1rem;
    right: -1.3rem;
}

.activ__news {
  
}

.template__wrap {
    width: 92%;
    height: 67px;
    margin: 0 auto;
}

.news__template:nth-child(even) {
	background-color: #8ca0b3;
}

.news__wrap-img {
	width: 4%;
}

.news__img {
  max-width: 38px;
  max-height: 50px;
}

.news__info {

}

.news__title {
	width: 155px;
color: #475f7b;
  font-family: "Avenir-Medium";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;	
  overflow: hidden;
}

.news__text {
	color: #053361;
	font-family: "Avenir-Medium";
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
}

.news__currency-one {
color: #475f7b;
  font-family: "Avenir-Medium";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.news__currency-two {
color: #475f7b;
  font-family: "Avenir-Medium";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.news__currency-two::before {
	content: '-';
	position: absolute;
	top: 0;
	right: 6.1rem;
	display: block;
}	

.news__time-ago {
	color: #000a12;
  font-family: "AvenirNext-Italic";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}

.news__minutes {

}

/*-------------  updates  ------*/

.updates {
	width: 29.5%;
  height: 402px;
  border-radius: 14px;
  background-color: #fff;
}

.updates__wrap {
	    width: 90%;
    margin: 0 auto;
}

.updates__title-wrap {
	margin-top: 15px;
}

.updates__title {
color: #475f7b;
  font-family: "Avenir-Medium";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;	
}

.updates__checkbox {

}

/*----- posts ---*/

.updates__posts {
	height: 50px;
}

.updates__img-wrap{
	margin-right: 15px;
}

.updates__img {

}

.updates__text-wrap{
width: 40%;
}

.updates__title {
color: #727e8c;
  font-family: "IBM Plex Sans";
  font-size: 15px;
  font-weight: 100;
  line-height: 21px;
}

.updates__text {
 color: #828d99;
  font-family: "IBM Plex Sans";
  font-size: 12px;
  font-weight: 100;
  line-height: 18px;

}

.updates__weight {
margin: 0 0 0 auto;
}

.updates__amount {
color: #727e8c;
  font-family: "IBM Plex Sans";
  font-size: 15px;
  font-weight: 100;
  line-height: 21px;
}

.updates__units {
color: #727e8c;
  font-family: "IBM Plex Sans";
  font-size: 15px;
  font-weight: 100;
  line-height: 21px;
}

/******************/
/*-----------------*/

.coin {
	    background-color: #fff;
    border-radius: 14px;
    width: 98%;
    margin: 1rem auto 0;
}

.coin__text-wrap {
	padding: 1.2rem 0 .7rem;
}

.coin__title {
color: #475f7b;
  font-family: "Avenir-Medium";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.coin__btn-wrap {
    width: 10%;
}

.coin__burger {
width: 4.8rem;
    height: 1.55rem;
        color: #5a8dee;
    font-family: "Avenir-Medium";
    font-size: 9px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .1425px;
}

.field__burger {

}

/*-----  posts  ---------*/

.coin__wrap-post {
padding-bottom: 1.1rem;
}

.coin__wrap {

}

.coin-text-wrap {
	width: 4.1rem;
}

.coin__total {
color: #828d99;
  font-family: "Avenir-Medium";
  font-size: 9px;
  font-weight: 400;
  line-height: 9px;
}

.coin__total-usd {
	    margin: 15px 0 5px;
color: #828d99;
  font-family: "Avenir-Medium";
  font-size: 9px;
  font-weight: 400;
  line-height: 9px;
}

.coin__template {

}

.coin__img-wrap {
    max-height: 70px;
    height: 65px;
}

.coin__img {
	object-fit: cover;
}

.coin__wrap-text {
	margin-bottom: 25px;
color: #053361;
  font-family: "Avenir-Medium";
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.coin__currency {

}

.coin__currency-short {
    line-height: .65em;
}

.coin__currency-coins {

}

.coin__currency-usd {

}

/* ************************/
/*------------------------*/

.revenue {
background: #fff;
    margin: 1rem auto 0;
    width: 98%;
    border-radius: 14px;
    padding-bottom: 1rem;
}

.revenue__wrap {
width: 97%;
    margin: 0 auto;
}

.revenue__filter {
padding: 15px 0 0;
}

.revenue__title {

}

.revenue__btns {
	width: 30%;
}

.revenue__btn {
	 color: #5a8dee;
  font-family: Lato;
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;
	transition: .3s ease-in-out;
	border-radius: 5px;
	    height: 1.35rem;
}

.revenue__btn:hover {
/*width: 54px;*/
  height: 21px;
  border-radius: 5px;
  background: #5a8dee;
  color: #fff;
}

.revenue__btn-active {
	
}

/*------------------*/

.currency__item {
	    margin: 1rem 0;
}

.currency__item:first-child {
	margin-top: 0.9rem;
}

.visual__graphic {
	width: 94%;	
}

.visual__month {
	    width: 88%;
    margin: 0 auto;
}

.month {
	width: 30%;
}